<launch>

	<node pkg="rosbag" type="record" name="bag_record" args="/DVXplorer_left/events /DVXplorer_left/imu /DVXplorer_right/imu /DVXplorer_right/events /DAVIS346_left/events /DAVIS346_left/image /DAVIS346_left/imu /DAVIS346_right/events /DAVIS346_right/image /DAVIS346_right/imu /hikrobot_infrared_camera/rgb 
	-b 2048 -o /home/oem/calibrate_data_bag"/>

</launch>
