  <!-- launch-prefix="gdb -ex run -\-args" -->
  <!-- launch-prefix="gnome-terminal -x" -->
  <!-- respawn="true" -->
  <!-- required="true"  -->

<launch>

    <node pkg="dv_ros_capture" type="capture_node" name="DVXplorer_left" clear_params="true" output="screen" required="true">
        <param name="cameraName" value="DVXplorer_DXA00207"/>

        <!-- Do not publish data until synchronization is complete -->
        <!-- <param name="waitForSync" value="true"/> -->
        <param name="waitForSync" value="true"/>

    </node>

    <node pkg="dv_ros_visualization" type="visualization_node" name="DVXplorer_left_visualization" clear_params="true" output="log">
        <remap from="/DVXplorer_left_visualization/events" to="/DVXplorer_left/events" />
    </node>

    <!-- <node pkg="dv_ros_accumulation" type="accumulator" name="right_accumulator_node" clear_params="true" output="log">
        <remap from="/right_accumulator_node/events" to="/DVXplorer_left/events" />
    </node> -->

    <!-- <node pkg="dv_ros_accumulation" type="edge_map" name="right_edge_map_node" clear_params="true" output="log">
        <remap from="/right_edge_map_node/events" to="/DVXplorer_left/events" />
    </node> -->

</launch>
